* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* header section*/
/* header {
  display: flex;
  justify-content: space-between;
  margin: 40px 10px 10px 10px;
  border-bottom: 10px solid whitesmoke;
}
.title {
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
  color: whitesmoke;
  text-transform: uppercase;
}
.again {
  padding: 10px 17px;
  font-size: 20px;
  align-self: flex-start;
}
header p {
  color: whitesmoke;
}

body section */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: #222;
  font-family: "Press Start 2p", monospace, sans-serif;
  color: #eee;
}
/* header section */
header {
  position: relative;
  height: 38vh;
  border-bottom: 7px solid #eee;
}
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
header p {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 15px;
}
.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
  border-radius: 10px;
}
.again:hover {
  background-color: #9e9b9b;
}
.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}
.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 10px;
}

.arr {
  /* border: 1px solid white; */
  text-align: center;
  font-size: 25px;
  width: 100%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 7px;
}

/* main section */
main {
  display: flex;
  position: absolute;
  width: 100%;
  height: 40vh;
  justify-content: space-between;
  /* border: 1px solid white; */
  top: 50%;
  padding: 10px;
}
.left {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  left: 10%;
}
.guess {
  /* height: 60px;
  font-size: 30px;
  text-align: center;
  width: 180px;
  border-radius: 10px; */
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 6rem;
  padding: 2.5rem;
  width: 30rem;
  text-align: center;
  display: block;
}
.check {
  height: 8rem;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 1rem;
  font-family: inherit;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}
.check:hover {
  background-color: #9e9b9b;
}
.right {
  font-size: 3rem;
  position: absolute;
  right: 5%;
  /* border: 1px solid wheat; */
  width: 50vw;
  text-align: center;
  /* font-weight: bold; */
}
.message {
  margin-bottom: 5rem;
}
